<div class="ibox">
  <div class="ibox-title">
    <h5>文章管理</h5>
  </div>
  <div class="ibox-content">
    <%= render "search" %>
    <div class="page-header">
      <%= link_to '新增文章', new_ancient_article_path(:back => request.fullpath), :class => "btn btn-sm btn-primary" %>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th class="tc">序号</th>
        <th class="tc">文章名称</th>
        <th class="tc">文章分类</th>
        <th class="tc">发布人</th>
        <th class="tc">发布时间</th>
        <th class="tc">操作</th>
      </tr>
      <% @articles.each_with_index do |article, index| %>
        <tr>
          <td class="textc"><%= index + 1%></td>
          <td><%= article.name %></td>
          <td><%= article.catalog.name %></td>
          <td><%= article.user_name %></td>
          <td><%= article.created_at %></td>
          <td class="tc">
            <% edit_link = link_to '修改', edit_ancient_article_path(article, :back => request.fullpath)%>
            <% destroy_link = link_to '删除', ancient_article_path(article, :back => request.fullpath), :method => :delete, data: { confirm: '確定要刪除吗?' }%>
            <%= operate_buttons([edit_link, destroy_link].compact) %>
          </td>
        </tr>
      <% end -%>
    </table>
    <%= paginate @articles %>
  </div>
</div>
